@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* -------------------- Primary set-up --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}


/* -------------------- Colors --------------------*/

:root {
    /*Primary color*/
    --white: #FFFFFF;
    --grey900: #2A4144;
    --grey500: #86A2A5;

     
    /*Secondary color*/
    --green600: #0C7D69;
    --green200: #E0F1E8;
    --red: #D73C3C;
}


/* -------------------- Typographie --------------------*/

h1 {
    color: var(--grey900);
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    color: var(--purple600);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.error-message {
    display: none;
}

.error-message-visible {
    display: block !important;
    color: var(--red);
    font-size: 0.8rem;
}


/* -------------------- Body & Main --------------------*/

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--green200);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 60%;
    max-width: 30rem;
    background-color: var(--white);
    border-radius: 2rem;
    padding: 2rem;
}

/* -------------------- Btn --------------------*/

button {
    background-color: var(--green600);
    color: var(--white);
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 2rem;
}

button:hover,
button:focus-visible {
    background-color: var(--grey900);
    outline: none;
}

/* -------------------- Form --------------------*/

.row-block {
    display: flex;
    flex-direction: row;
}

.input-field, textarea {
    width: 100%;
    border: none;
    border: 1px solid var(--grey500);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.input-field {
    height: 2rem;
}

.input-field:hover, textarea:hover,
.input-field:focus-visible, textarea:focus-visible {
    border: 1px solid var(--green600);
    outline: none;
}

input[type="checkbox"]:hover {
    border: 1px solid var(--green600);
}

input[type="radio"]:focus-visible, input[type="checkbox"]:focus-visible {
    border: 1px solid var(--green600);
    outline: 1.5px solid var(--green600);
}

fieldset {
    border: none;
    display: flex;
    gap: 1rem;
}

.border {
    display: inline-block;
    width: 50%;
    border: 1px solid var(--grey500);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.border:hover {
    border: 1px solid var(--green600);
    background-color: var(--green200);
}

label, legend {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

fieldset {
    margin-top: 1rem;
}


fieldset label {
    margin: 0 !important;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: var(--green600);
}

/* -------------------- Responsivness --------------------*/

@media screen and (max-width: 800px) {
    main {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .faq {
        width: 90%;
    }
}
